<nz-breadcrumb>
  <nz-breadcrumb-item>
    组织信息
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="main">
  <div class="left">
    <div class="layout">
      <span>显示层级</span>
      <nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="levelCount">
        <nz-option *ngFor="let item of list" [nzValue]="item.value" [nzLabel]="item.label"> </nz-option>
      </nz-select>
    </div>
    <div class="tree-warp">
      <div class="tree-spin" *ngIf="treeloading; else content">
        <nz-spin nzSimple></nz-spin>
      </div>
      <ng-template #content>
        <app-custom-tree
          style="max-height: 100%;"
          [nodeOpts]="nodeOpts"
          [expandAll]="true"
          (node)="getCurrentNode($event)"
        ></app-custom-tree>
      </ng-template>
    </div>
  </div>
  <div class="right">
    <div class="top-bar">
      <app-search-input [placeholder]="'查询'" [(ngModel)]="query" (keyUp)="handleInputKeyup()"></app-search-input>
      <span class="query" *ngIf="false">高级查询</span>
      <div class="btn-group">
        <button nzType="primary" nz-button [routerLink]="['/organization/edit']" [queryParams]="{ type: 'add' }">
          <span class="custom-icon icon-ic_add"></span>新建
        </button>
        <button nzType="primary" nz-button nzGhost host-button (click)="exportOrganList()">
          <span class="custom-icon icon-ic_export"></span>导出
        </button>
        <button nzType="primary" nz-button nzGhost host-button [routerLink]="['/organization/noteffect']">
          <span class="custom-icon icon-ic_Assessment"></span>查看未生效组织
        </button>
        <button nzType="primary" nz-button nzGhost host-button *ngIf="false">
          <span class="custom-icon icon-ic_setting"></span>
          表格设置
        </button>
        <!-- (ngModelChange)="changeUI($event)" -->
        <nz-radio-group nzButtonStyle="solid" class="btn-radio" [(ngModel)]="toggleUI">
          <label nz-radio-button nzValue="A"
            ><span class="icon-ic_card_danxuan "
              ><span class="path1"></span><span class="path2"></span><span class="path3"></span
              ><span class="path4"></span><span class="path5"></span><span class="path6"></span></span
          ></label>
          <label nz-radio-button nzValue="B"><span class="icon-ic_MindMap_verticel"></span></label>
        </nz-radio-group>
      </div>
    </div>

    <!-- table -->
    <div class="table-warp flex-justify-between" *ngIf="toggleUI === 'A'" #tableWarp>
      <nz-spin [nzSpinning]="listLoading">
        <vx-table
          [listdata]="listdata"
          [pagination]="pagination"
          [tableHeader]="tableHeader"
          [ctxHight]="getTbaleHeight"
          [columnSlot]="{ status: status, positionNum: employeeNum, employeeNum: employeeNum, customBtns: customBtns }"
          [tableRowBtns]="tableRowBtns"
          (operatClick)="operatClick($event)"
          (pageSizeChange)="pageSizeChange($event)"
          (pageIndexChange)="pageIndexChange($event)"
        >
          <ng-template #status let-row>
            <span ngClass="status status_{{ row.status }}">{{ row.status === 'ENABLE' ? '已启用' : '已禁用' }}</span>
          </ng-template>
          <ng-template #positionNum let-row>
            <a nz-button nzType="link" (click)="showListMoadl(1, row.id)">{{ row.positionNum }}</a>
          </ng-template>
          <ng-template #employeeNum let-row>
            <a nz-button nzType="link" (click)="showListMoadl(2, row.id)">{{ row.employeeNum }}</a>
          </ng-template>
          <ng-template #customBtns let-row>
            <li class="order-1" [ngClass]="{ 'ant-dropdown-menu-item': tableBtnType === 'group' }">
              <a
                nz-button
                nzType="link"
                [attr.disabled]="row.status === 'DISABLE' ? true : null"
                [routerLink]="['/organization/edit']"
                [queryParams]="{ type: 'edit', id: row.id }"
                >编辑</a
              >
            </li>
            <li class="order-2" [ngClass]="{ 'ant-dropdown-menu-item': tableBtnType === 'group' }">
              <a
                [routerLink]="['/organization/edit']"
                [attr.disabled]="row.status === 'DISABLE' ? true : null"
                [queryParams]="{ type: 'change', id: row.id }"
                nz-button
                nzType="link"
                >变更</a
              >
            </li>
            <li class="order-3" [ngClass]="{ 'ant-dropdown-menu-item': tableBtnType === 'group' }">
              <a
                nz-button
                nzType="link"
                [routerLink]="['/organization/merge/', row.id]"
                [attr.disabled]="row.status === 'DISABLE' ? true : null"
                >合并</a
              >
            </li>
            <li class="order-4" [ngClass]="{ 'ant-dropdown-menu-item': tableBtnType === 'group' }">
              <a nz-button nzType="link" (click)="showEnablefirm(row)">{{
                row.status === 'DISABLE' ? '启用' : '禁用'
              }}</a>
            </li>
            <li class="order-5" [ngClass]="{ 'ant-dropdown-menu-item': tableBtnType === 'group' }">
              <a nz-button nzType="link" [routerLink]="['/organization/change-history/', row.id]">变更历史</a>
            </li>
          </ng-template>
        </vx-table>
      </nz-spin>
    </div>

    <div class="mind-warp" *ngIf="toggleUI === 'B'">
      <app-org-graph style="height:100%;" [explandLevel]="levelCount" [data]="graphSource"></app-org-graph>
    </div>
  </div>
</div>
