@import './variable.less';
.textOverflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  background-color: #f6f7fb;
}
.text-overflow {
  .textOverflow;
}

.ant-breadcrumb {
  margin-bottom: 18px;
}
// 面包屑
nz-breadcrumb-item {
  font-size: 16px;
  color: #818182;
}
nz-breadcrumb-item:last-child {
  color: #626262 !important;
}

::ng-deep {
  .ant-btn-link-disabled,
  .ant-btn-link.disabled,
  .ant-btn-link[disabled],
  .ant-btn-link-disabled:hover,
  .ant-btn-link.disabled:hover,
  .ant-btn-link[disabled]:hover,
  .ant-btn-link-disabled:focus,
  .ant-btn-link.disabled:focus,
  .ant-btn-link[disabled]:focus,
  .ant-btn-link-disabled:active,
  .ant-btn-link.disabled:active,
  .ant-btn-link[disabled]:active,
  .ant-btn-link-disabled.active,
  .ant-btn-link.disabled.active,
  .ant-btn-link[disabled].active {
    color: #9ba1b5;
    &:hover {
      cursor: not-allowed;
    }
  }
}

/********************* 组织状态 start************************/

.table-warp {
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .status {
    width: 66px;
    height: 29px;
    font-size: 14px;
    border-radius: 15px;
    padding: 2px 8px;
    background: #bdbdbd;
    color: #fff;
  }
  .status_DISABLE {
    // 禁用
    background: #f8826f;
  }
  .status_ENABLE,
  .status_DONE_STATUS {
    // 已生效 启用
    background: #5ad39c;
  }
  .status_DOING_STATUS {
    // 未生效 办理中
    background: #f5a623;
  }
}
// 自定义icon
.custom-icon {
  margin-right: 3px;
}

/********************* 组织状态 end************************/

/*********************   datepicker  start   ***********/

// 默认100%
.ant-calendar-picker {
  width: 100%;
}
/*********************   datepicker end     ***********/

/********************* btn start **************************/
/*
* 适用于左侧搜索栏，右侧按钮组
*eg: entry.component.html
*  <div class="top-bar">
*    <div class="serch-group"></div>
*    <div class="btn-group"></div>
*  </div>
*/
.top-bar {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .btn-group {
    padding-top: 2px;
    .custom-icon {
      margin-right: 3px;
    }
  }
}

/**
*适用于只有右侧按钮组
*eg: 组织信息-变更历史
*/
.btn-group-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  .alone-icon {
    color: #7491e7;
    font-size: 19px;
  }
  .alone-icon-warp {
    transition: all 0.2s ease;
    &:hover {
      scale: 1.2;
      opacity: 0.8;
    }
  }
}
/********************* btn end **************************/

/********************* table cunstom spin **************************/
.table-warp {
  & > .ant-spin-nested-loading {
    height: 100%;
    & > .ant-spin-container {
      height: 100%;
      & > .vx-table {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
.@{table-cls} {
  box-shadow: 0px 0px 8px 0px rgba(96, 113, 223, 0.12);
}
.@{table-cls}-header,
.@{table-cls}-thead {
  // overflow: hidden !important;

  tr th {
    background-color: #edf0ff !important;
    padding: @td-v-padding @td-l-padding;
    font-size: 14px;
    color: #6373da;
  }

  tr:hover {
    box-shadow: none;
  }
}
.@{table-cls}-tbody {
  overflow: hidden;
  tr:nth-of-type(even) {
    td {
      background-color: #f9f9f9;
    }
  }
  // tr:hover {
  //   transform: scale(1);
  //   -webkit-transform: scale(1);
  //   -moz-transform: scale(1);
  //   box-shadow: 0 1px 14px 0 rgba(99, 115, 218, 0.3);
  //   -webkit-box-shadow: 0 1px 14px 0 rgba(99, 115, 218, 0.3);
  //   -moz-box-shadow: 0 1px 14px 0 rgba(99, 115, 218, 0.3);

  //   td {
  //     background-color: #ffffff !important;
  //     .table-operation {
  //       display: block;
  //       i:hover {
  //         color: #6373da;
  //       }
  //     }
  //   }
  // }

  tr {
    td {
      padding: 9px 13px;
      font-size: 14px;
      // color: #253238;
      border: 0;
    }
  }
}

.btn-td-operat {
  padding: calc(@td-l-padding - 8px) !important;
  &-group {
    display: inline-flex;

    & > a {
      padding-left: 0;
      padding-right: 0;
    }
    & > ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      & > li {
        margin: 0;
        padding: 0;
        & > a.del,
        a.delete {
          color: #f8826f;
        }
        & > a {
          padding: 0;
          margin-left: 8px;
        }
      }
    }
  }
}

// 后期 del
.table-spin {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*********************   table cunstom spin end     ***********/

/********************* empty start **************************/
::ng-deep .ant-table-placeholder {
  border-bottom: 0;
}

.table-empty {
  position: relative;
  width: 100%;
  height: 100%;
  .table-empty-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 583px;
    height: 368px;
    background: url('../assets/images/image-empty.png') no-repeat center;
    &:lang(en) {
      background: url('../assets/images/image-empty-en.png') no-repeat center;
    }

    &:lang(zh-CN) {
      background: url('../assets/images/image-empty.png') no-repeat center;
    }
  }
  nz-spin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    text-align: center;
  }
}
/********************* empty end **************************/

/*****************  modal  start*********************/
::ng-deep .ant-modal-footer {
  border-top: 0;
}
::ng-deep .ant-modal-header {
  border-bottom: 1px dashed #c4c8d5;
}
.ant-modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal {
  top: 0px;
}
.custom-menu {
  border: none;
}
.employeeStyle .ant-modal-body {
  padding: 0 24px 30px !important;
}

/*****************  modal  end*********************/
