.knz-default__header-logo {
  width: auto;
  margin: 0;
}

.knz-default__header_style1 {
  box-sizing: border-box;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .knz-default__nav-wrap {
    .knz-default__nav-item,
    .knz-default__nav nz-badge {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      // color: #818182 !important;
      line-height: 20px;
    }
  }
}

.knz-default__collapsed {
  .knz-default__header-logo {
    width: auto;
  }
}
