<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="redirectUrl">组织信息</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    未生效组织
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="mian flex-v">
  <div class="top-bar">
    <app-search-input [placeholder]="'查询'" [(ngModel)]="query" (keyUp)="handleInputKeyup()"></app-search-input>
    <span class="query" *ngIf="false">高级查询</span>
    <div class="btn-group">
      <button nzType="primary" nz-button nzGhost host-button [routerLink]="redirectUrl">取消</button>
    </div>
  </div>

  <!-- table -->
  <div class="table-warp" #tableWarp>
    <nz-spin [nzSpinning]="listLoading">
      <vx-table
        [listdata]="listdata"
        [pagination]="pagination"
        [tableHeader]="tableHeader"
        [ctxHight]="getTbaleHeight"
        [columnSlot]="{ status: status }"
        [tableRowBtns]="tableRowBtns"
        (operatClick)="operatClick($event)"
        (pageSizeChange)="pageSizeChange($event)"
        (pageIndexChange)="pageIndexChange($event)"
      >
        <ng-template #status let-row>
          <span ngClass="status status_{{ row.status }}">{{ row.showStatus }}</span>
        </ng-template>
      </vx-table>
    </nz-spin>
  </div>
</div>
