/************ search类 后期可写成组件 ***************/

nz-collapse {
  box-shadow: rgba(96, 113, 223, 0.12) 0px 0px 10px;
  border-radius: 2px;
  ::ng-deep {
    .ant-collapse-borderless > .ant-collapse-item,
    .ant-collapse-item {
      border-bottom: 0;
    }
  }
}
.table-search-panel {
  background-color: #ffffff;
  border-radius: 2px;
}
::ng-deep {
  .ant-collapse-header {
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #818182;
    background: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(96, 113, 223, 0.12);
    border-radius: 2px;

    .ant-collapse-extra {
      font-size: 15px;
      color: #9ba1b5;
    }
  }
  .table-search-form {
    padding-top: 20px;
    .ant-calendar-picker {
      width: 100%;
    }
    .ant-form-item-label > label::after {
      margin-right: 15px;
    }
  }
}

.table-search-icon {
  color: #9ba1b5;
  user-select: none;
}

.table-search-icon-text {
  margin-left: 5px;
  color: #9ba1b5;
  user-select: none;
}

.table-search-buttons {
  text-align: right;
}
.table-search-submit {
  display: inline-block;
  width: 71px;
  height: 36px;
  border: 0 none;
  outline: 0 none;
  background: linear-gradient(90deg, #6272d9 0%, #6e8be5 100%);
  box-shadow: 0 2px 6px 0 rgba(110, 139, 229, 0.7);
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.table-search-submit:hover {
  opacity: 0.8;
}

/************ search类end 后期可写成组件 ***************/

.change-main {
  height: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  .top {
    flex: none;
    .operation-box {
      .custom-icon {
        margin-right: 3px;
      }
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
    }
    .query-box {
      .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 4px 8px 0px rgba(96, 113, 223, 0.12);
        border-radius: 2px;
        box-sizing: border-box;
        padding: 25px 25px 20px 20px;
        .query-text {
          font-size: 18px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #818182;
          line-height: 25px;
        }
        .open-or-close {
          display: flex;
          align-items: center;
          .up-arrow {
            width: 7px;
            height: 7px;
            border-top: 2px solid #9ba1b5;
            border-right: 2px solid #9ba1b5;
            transform: rotate(-45deg);
            margin-top: 4px;
          }
          .down-arrow {
            width: 7px;
            height: 7px;
            border-top: 2px solid #9ba1b5;
            border-right: 2px solid #9ba1b5;
            transform: rotate(135deg);
          }
          .text {
            margin-left: 7px;
            font-size: 15px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #9ba1b5;
            line-height: 21px;
          }
        }
      }
    }
  }

  .query-form-warp {
    margin-top: 1px;
    display: flex;
    background: #fff;
    padding: 25px 25px 0px 25px;
    flex-direction: column;
    justify-content: space-between;
    .sys-a {
      height: 16px;
      font-size: 14px;
      font-weight: 500;
      color: #6d8be5;
      line-height: 16px;
      display: inline-block;
      width: 150px;
      margin-left: 0;
      margin-top: 12px;
      padding-left: 10px;
    }
    form {
      width: 100%;
    }
    .ant-input {
      border: 1px solid #d0d3de;
    }
    .footer {
      margin-left: 20px;
    }
  }
  nz-form-item {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    display: -webkit-box;
    margin-bottom: 0;
    margin-top: 12px;
    nz-form-control {
      height: 60px;
    }
  }
  nz-input-group {
    width: 100%;
  }
  .are-require {
    width: 9px;
    color: #f04d78;
    line-height: 36px;
  }
  label {
    display: block;
    width: 70px;
    line-height: 38px;
    color: #626262;
    font-size: 14px;
    margin-right: 22px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    &::after {
      content: '';
    }
  }
  .custom-btn {
    width: 100px;
    height: 36px;
    background: #6d8be5;
    border-radius: 3px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #ffffff;
    line-height: 21px;
  }
  .small-font {
    font-size: 13px;
  }
  .more-text {
    line-height: normal;
  }
  .special-form-group {
    width: calc(100% - 110px) !important;
  }
  .form-grup {
    width: calc(100% - 128px);
  }
  .org-icon {
    color: #d0d3de;
    cursor: pointer;

    transition: all 0.2s;
    &:hover {
      color: #a4b0da;
      font-size: 18px;
    }
  }
  .table-warp {
    margin-top: 20px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.btn-box {
  width: 270px;
  height: 36px;
}
nz-input-group {
  width: 270px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  > input {
    cursor: pointer;
  }
  .icon-ic_search {
    font-size: 18px;
    color: #7491e7;
  }
  input {
    border: none;
  }
}
nz-range-picker {
  width: 100%;
}
:host {
  .empty {
    position: relative;
    width: 100%;
    height: 100%;
    // background: #fff;
    .empty-img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 583px;
      height: 368px;
      background: url('../../../../assets/images/image-empty.png') no-repeat center;
      &:lang(en) {
        background: url('../../../../assets/images/image-empty-en.png') no-repeat center;
      }

      &:lang(zh-CN) {
        background: url('../../../../assets/images/image-empty.png') no-repeat center;
      }
    }
    nz-spin {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 200px;
      height: 100px;
      text-align: center;
    }
  }
}
::ng-deep .organization-detail-box {
  .ant-modal-body {
    padding-top: 13px;
  }
  .ant-modal-header {
    border-bottom: 0;
    .ant-modal-title {
      padding-bottom: 12px;
      border-bottom: 1px dashed #c4c8d5;
    }
  }
  .ant-modal-footer {
    border-top: 0;
    .ant-btn-primary {
      display: none;
    }
    .ant-btn-default {
      width: 71px;
      height: 35px;
      border-radius: 3px;
      border: 1px solid #6d8be5;
      font-size: 15px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #6d8be5;
      line-height: 21px;
    }
  }
  .detail-warp {
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .detail-item {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      width: calc((100%- 64px) / 2);
      .label {
        width: 84px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #626262;
        line-height: 20px;
      }
      .value {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #697074;
        line-height: 20px;
        margin-left: 20px;
      }
    }
  }
}
