<nz-breadcrumb>
  <nz-breadcrumb-item>
    组织变动查询
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="change-main">
  <div class="top">
    <div class="operation-box">
      <button nzType="primary" nz-button nzGhost host-button (click)="exportChangeList()">
        <span class="custom-icon icon-ic_export"></span>导出
      </button>
    </div>

    <!-- 折叠search -->
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        class="table-search-panel"
        [nzHeader]="options.nzHeader"
        [(nzActive)]="options.nzActive"
        [nzShowArrow]="false"
        [nzExtra]="extraTemplate"
        (nzActiveChange)="initTableUI($event)"
      >
        <ng-template #extraTemplate>
          <i
            class="table-search-icon"
            nz-icon
            [nzType]="'up'"
            [nzRotate]="options.nzActive ? 0 : 180"
            (click)="options.nzActive = !options.nzActive"
          ></i>
          <span class="table-search-icon-text">{{ options.nzActive ? '收起' : '展开' }}</span>
        </ng-template>

        <form nz-form [formGroup]="validateForm" class="">
          <nz-form-item>
            <nz-form-label [nzSpan]="2" [nzNoColon]="true">组织名称</nz-form-label>
            <nz-form-control [nzSpan]="6">
              <input nz-input placeholder="" formControlName="organizationName" />
            </nz-form-control>

            <nz-form-label [nzSpan]="2" [nzNoColon]="true">变更类型</nz-form-label>
            <nz-form-control [nzSpan]="6">
              <nz-select formControlName="changeType" (click)="getChangeTypes()">
                <nz-option
                  *ngFor="let option of organizationUpdateTypes"
                  [nzLabel]="option.label"
                  [nzValue]="option.value"
                ></nz-option>
              </nz-select>
            </nz-form-control>

            <nz-form-label [nzSpan]="2" [nzNoColon]="true">操作人</nz-form-label>
            <nz-form-control [nzSpan]="6">
              <nz-select
                nzPlaceHolder=""
                nzAllowClear
                nzShowSearch
                nzServerSearch
                formControlName="createBy"
                (nzOnSearch)="onSearch($event)"
              >
                <ng-container *ngFor="let o of selectopts">
                  <nz-option *ngIf="!selectLoading" [nzValue]="o.userId" [nzLabel]="o.name"></nz-option>
                </ng-container>
                <nz-option *ngIf="selectLoading" nzDisabled nzCustomContent>
                  <i nz-icon nzType="loading" class="loading-icon"></i> 检索中...
                </nz-option>
              </nz-select>
            </nz-form-control>

            <nz-form-label [nzSpan]="2" [nzNoColon]="true">操作日期</nz-form-label>
            <nz-form-control [nzSpan]="6">
              <nz-range-picker formControlName="date"></nz-range-picker>
            </nz-form-control>

            <div nz-col [nzSpan]="3" class="table-search-buttons">
              <button nz-button nzType="link" class="table-search-submit" (click)="queryUpdateHistory()">
                查询
              </button>
            </div>
          </nz-form-item>
        </form>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class="table-warp">
    <nz-spin [nzSpinning]="listLoading">
      <vx-table
        [listdata]="listdata"
        [pagination]="pagination"
        [tableHeader]="tableHeader"
        [ctxHight]="tbaleHeight"
        [columnSlot]="{ customBtns: customBtns }"
        (pageSizeChange)="pageSizeChange($event)"
        (pageIndexChange)="pageIndexChange($event)"
      >
        <ng-template #customBtns let-row>
          <li class="order-1" [ngClass]="{ 'ant-dropdown-menu-item': tableBtnType === 'group' }">
            <a nz-button nzType="link" (click)="getDetailInfo(row, row.changeType)">查看详情</a>
          </li>
        </ng-template>
      </vx-table>
    </nz-spin>
  </div>
</div>
